/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #59024B; }
.Graphic-Design-2-hex { color: #400336; }
.Graphic-Design-3-hex { color: #0DF205; }
.Graphic-Design-4-hex { color: #15BF0F; }
.Graphic-Design-5-hex { color: #2A8C1B; }

html {
  width: 100%;
}

body {
  background-color: #400336;
  min-width: fit-content;
  width: 100%;
  font-weight: sans-serif;
}

a {
  color: white;
  font-family: Arial, sans-serif;
  text-decoration: none;
}
a:hover {
  color: white;
  font-family: Arial, sans-serif;
  text-decoration: underline;
}

section {
  
}

h2 {
  color: #0DF205;
  font-size: 1.5em;
  /* font-family: 'Love Ya Like A Sister', sans-serif; */
  /* font-family: 'Grenze Gotisch', sans-serif; */
  /* font-family: 'Codystar', sans-serif; */
  font-family: 'Henny Penny', sans-serif;
  font-weight: 900;
}

h3 {
  color: #15BF0F;;
  font-size: 1.2em;
  font-family: 'Love Ya Like A Sister', sans-serif;
  /* font-family: 'Grenze Gotisch', sans-serif; */
  /* font-family: 'Codystar', sans-serif; */
  /* font-family: 'Henny Penny', sans-serif; */
  font-weight: 300;
}

p {
  color: #e7e7e7;
  font-family: sans-serif;
}

.soundCloudContainer {
  display: block;
  max-width: 1200px;
}

.lev1 {
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: auto;
  text-align: center;
  /* margin: 0 0 40px 0; */
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}




.blink {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}



