/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 6em;

  text-shadow:
    -8px -8px 12px rgba(255, 255, 255, 0.4),
    8px 8px 12px rgba(0, 0, 0, 0.08);
}

h2 {
  font-size: 4em;

  text-shadow:
    -8px -8px 12px rgba(255, 255, 255, 0.4),
    8px 8px 12px rgba(0, 0, 0, 0.08);
}
h3 {
  font-size: 2em;

  text-shadow:
    -8px -8px 12px rgba(255, 255, 255, 0.4),
    8px 8px 12px rgba(0, 0, 0, 0.08);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 40%);
}

a:hover {
  text-decoration: underline;
}




body {
  background: hsl(328deg 58% 94%);
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2em; */
  /* overflow-x: hidden; */
  padding: 1em;

  font-family: 'Arial';
  font-weight: bold;

  color: hsl(337deg 8% 69%);
}

#header {}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333333; */

  display: flex;
  /* height: 100vh; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header ul li {
  float: left;
  padding: 16px;
}

#header ul #hero {
  font-size: 2em;
}

.blah {
  /* user-select: none; */
  background: #f8e7f1;
  box-shadow: 20px 20px 60px #d3c4cd,
    -20px -20px 60px #ffffff,
    0 0 2vh 2vh hsl(328deg 58% 94%);
  padding: 1em;
  border-radius: 20px;

  width: 80%;

  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1900px;
}

#MoF-announcement {
  /* display: inline-flex;
  flex-direction: row; */
  
}

#MoF-announcement .left-half {
  /* border: 1px solid red; */
  width: 70%;
  }
  
  #MoF-announcement .right-half {
  /* border: 1px solid blue; */
  width: 30%;
}

#MoF-content {
  border: 1px solid rgba(255, 166, 0, 0.192);
  display: flex;
  flex-direction: row;
  width: 1900px;
  }
  
  #MoF-content .left-half {
    /* border: 1px solid red; */
    width: 65%;
    padding: 40px;
    }
    
    #MoF-content .right-half {
      /* border: 1px solid blue; */
      width: 30%;
      padding: 40px;
}